<% was_validated = message.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(message, html: form_html_options) do |f| %>
  <div class="form-group">
    <% content_class = "form-control" %>
    <% content_was_invalid = message.errors.include?(:content) %>

    <% if was_validated %>
      <% if content_was_invalid %>
        <% content_class << " is-invalid" %>
      <% else %>
        <% content_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :content %>

    <%= f.text_area :content, class: content_class, placeholder: "Enter content" %>
    <% if content_was_invalid %>
      <% message.errors.full_messages_for(:content).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% send_time_class = "form-control" %>
    <% send_time_was_invalid = message.errors.include?(:send_time) %>

    <% if was_validated %>
      <% if send_time_was_invalid %>
        <% send_time_class << " is-invalid" %>
      <% else %>
        <% send_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :send_time %>

    <%# f.datetime_field :send_time, class: send_time_class, placeholder: "Enter Send On" %>
    <%# <div class="form-group"> %>
      <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          <input type="text" name="message[send_time]" id="message_send_time" value="<%= message.send_time.strftime("%m/%d/%Y %-l:%M %p") %>" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
      </div>
    <%# </div> %>
    <script type="text/javascript">
      $(function () {
          $("#datetimepicker1").datetimepicker({
              defaultDate: moment("<%= DateTime.current %>"),
              minDate: moment("<%= DateTime.current - 20.minutes %>"),
          });
      });
    </script>
    <% if send_time_was_invalid %>
      <% message.errors.full_messages_for(:send_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% contact_id_class = "form-control" %>
    <% contact_id_was_invalid = message.errors.include?(:contact_id) %>

    <% if was_validated %>
      <% if contact_id_was_invalid %>
        <% contact_id_class << " is-invalid" %>
      <% else %>
        <% contact_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :contact_id %>
    <%= f.text_field :contact_id, class: contact_id_class, placeholder: "Enter contact", list: 'user_contacts', value: message.contact.name, autocomplete: :on %>
    <datalist id="user_contacts">
      <% current_user.contacts.each do |contact| %>
        <option value="<%= contact.name %>"></option>
      <% end %>
    </datalist>
    <%# f.text_field :contact_id, class: contact_id_class, placeholder: "Enter contact" %>
    <% if contact_id_was_invalid %>
      <% message.errors.full_messages_for(:contact_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
